box* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  
}

body{
  /* max-width: 1440%;
  max-height: 20785;
  min-width: 375%; */
  margin: 0;
  padding: 0;
  width:100%; 
}

header{
  width: 100%;
  height: 82px;
  gap:511px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
  flex-direction: row;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3);
}


/* CABEÇALHO 1  */

.brand{
  
  font-family: "Be Vietnam",sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;

}

nav.sections{ 
  width:50%;
  
}

.cabeçalho {
  display: flex;
  align-items: left;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;   
}

.sections ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  margin:0px;
  margin-left:10%;
}


/* botao menu */

/* #menu a{
  display: block;
} */

#botaomenu{
  display:none;
}


/*  */
.sections li {
  width: 80%;
  display: flex;
  flex-direction: row;   
}

.sections ul li a {
  text-decoration: none;
  font-family: "Be Vietnam",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.45px;
  text-align: left;
  color: rgba(0, 101, 255, 1);
}

/*  CABEÇALHO 2 */


nav.socialmedia{
  display: flex;
  width: 30%;     
}

.cabeçalho2{

  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%; 
  width:40%;
  
}

.socialmedia ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 0%;
  margin: 0%;
  width:100%;
  
}

.socialmedia ul li{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}

.toggle{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width:40%;
  
}

.texto1{
  
  font-family: "Be Vietnam",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.45px;
  width: 100%;
  white-space: nowrap;

}

button{
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  margin-left:20%;
}


/* MAIN */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 100%;

}

.section1{
  display: flex;
  flex-direction: column;
  width:50%;
  height: 50%;
  margin-top:5%;
  
}

#avatar{
  display: flex;
  width: 15%;
  height: 35%;
}

.h1{
  margin-top :5%;
}

.section1 h1{
  
  margin:0%;
  font-family: "EB Garamond";
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 101, 255, 1);


}

.divisao{
  margin-top: 6%;
  margin-bottom: 6%;
  color: rgba(0, 101, 255, 1);
}



.highlight{
  color: rgba(0, 101, 255, 1);
}

.callout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:56%;
  height: 10%;
  margin-top:7%;
  background: rgba(248, 249, 250, 1);
  border-radius: 10px;


}

.texto2{
  display: flex;
  align-items: center;
  font-family: "Be Vietnam";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  width: 90%;
  height: 50%;;

}

/* DIVISAO  */

.divisao2{
  margin-top: 4%;
  margin-bottom: 5%;
  color: rgba(0, 101, 255, 1);
}


.section2{
  display: flex;
  flex-direction: column;
  width:50%;
  height: 50%;

}

.section2 h2{
  display: flex;
  justify-content: left;
  font-family: "Be Vietnam";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 101, 255, 1);

}

.texto3{
  
  font-family: "Be Vietnam";
  font-size: 17px;
  font-weight: 400;
  line-height: 24.84px;
  text-align: left;
}

/* BLOCO 1 */

.bloco1{
  display: flex;
  flex-direction: row;
  margin-top:5%;
  justify-content: space-between;
 
}

#imagem1{
  width: 60%;
  height: 10%;
}

.bloquinho1{
  display: flex;
  flex-direction: column;
  width:30%;
  justify-content: space-around;
  
}

.bloquinho1 h4{
  
  font-family: "Be Vietnam";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-top:0%;

}

.bloquinho1 p{
  
  font-family: "Be Vietnam";
  margin-top:0%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.84px;
  text-align: left;

}

.botao2{
  
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 30px 16px 30px;
  border-radius: 34.5px 34.5px 34.5px 34.5px;
  border: 1px solid rgba(0, 101, 255, 1);
  margin:0%;
  width: 70%;
  font-size: 10px;
  color: rgba(0, 101, 255, 1);
}



/* BLOCO 2 */

.bloco2{
  display: flex;
  flex-direction: row;
  margin-top:10%;
  justify-content: space-between;
  margin-bottom:30%;
 
}

#imagem2{
  width: 60%;
  height: 10%;
}

.bloquinho2{
  display: flex;
  flex-direction: column;
  width:30%;
  justify-content: space-around;
  
}

.bloquinho2 h4{
  
  font-family: "Be Vietnam";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-top:0%;


}

.bloquinho2 p{
  
  font-family: "Be Vietnam";
  margin-top:0%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.84px;
  text-align: left;

}

Menu{
  display:none;
}

.sec{
  display:none;
}



/* MOBILE */

@media(max-width:400px){

  body{
    margin: 0;
    width:100%; 
  }

  header{
    width:100%;
    display: flex;
    align-items: center;  
    flex-direction: row;
    gap:250px;
    padding:2%;
    margin:0%;
    justify-content: space-around;
    }


  main{
    width:100%; 
  }



  #botaomenu{
    display:block;
    margin-left: -70%;
    margin-top:5%;
  }



  .sections ul,.socialmedia ul {
    display: none;
  }

  .sec.active{
    display:flex;
    background: rgba(255, 255, 255, 1);
    width:100%;
    height: 100vh;
    margin-top: 10%;
    text-decoration: none;
    list-style: none;
    flex-direction: column;


  }

  .sec .close-menu {
    display: block;
    text-align: left;
    padding:2%;
    margin-left:5%;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 101, 255, 1); 
  }

  .sec3{
    display:flex;
    justify-content: center;
  }

  .sec3 ul{
    text-decoration:none;
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  
  }

  .sec3 ul li a{
    display:flex;
    justify-content: space-between;
    text-decoration:none;
    color: rgba(0, 101, 255, 1);
  }

  .socialmedia3 ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:40%;
    margin-left:25%;
    list-style:none;

  }

  
  .section3 ul.active,.socialmedia ul.active {
    display: flex;
    align-items: center;
  }


  /* .socialmedia ul li.active{
    display:flex;
    flex-direction: row;
    margin-top:5%;
  } */

  

  



  .cabeçalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 50%;
    height: 100%; 
    padding:2%;
    white-space: nowrap;
    
  }

  #avatar{
    display: flex;
    width: 55%;
    height: 65%;
    align-self: center;
  }

  

  .h1{
    margin-top :5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
  }
  
  .section1 h1{
    font-size: 45px;
  
  }

  .divisao{
    margin-left:15%;
  }

  .callout{
    width:90%;
    white-space: nowrap;
  }


  .cabeçalho2{

    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%; 
    width:70%;
     
  }

  .section2 h2{
    display:flex;
    justify-content: center;
  }

  .bloco1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .bloquinho1{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top:10%;
  }

  #imagem1{
    width:100%;
  }

  .bloco2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


  .bloquinho2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top:10%;
    order:2;
  }

  #imagem2{
    width:100%;
    order: 1;
  }

}